/* Aqua Splash Color Palette */

#root, html, body {
  height: 100%;
  margin: 0;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
#push {
  height: 50px;
}

.container {
  max-width: 960px;
}

nav {
  margin-bottom: 30px;
  background-color: #549f91;
}

footer {
  text-align: center;
  height: 50px;
  /*background-color: #ee6e73;*/
  background-color: #549f91;
  color: #fff;
}

footer p {
  line-height: 50px;
  margin: 0;
}

.error {
  color: red;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
}

#avatar {
  width: 270px;
  height: auto;
}

a {
  color: #549f91;
}

.card, .image-post, .video-post {
  background-color: #549f9134;
  overflow: hidden;
}

.card p, .card h5, .image-post p, .video-post p {
  color: #498c92 !important;
}

.text-post {
  box-shadow: 0 0 7px darkgray;
  padding: 15px 10px;
}

.author-name {
  font-weight: bold;
  margin: 0;
}

.card-panel {
  padding: 15px;
}

.align-wrapper {
  margin-bottom: 5px;
}

.image-post {
  max-width: 100%;
}

#filter {
  display: block;
  width: 15%;
  position: absolute;
  right: 20px;
  top: 100px;
}

.error-message {
  font-size: 30px;
  text-align: center;
  margin-top: 150px;
}

.delete-text i{
  color: darkgrey;
  position: absolute;
  right: -50px;
  top: 20px;
  cursor: pointer;
}

.delete-text {
  position: relative;
}

.update-pic {
  max-width: 670px;
}


 /* #feed-box {
  overflow-y: scroll;
  height: 85vh;
}

body {
  height: 100vh;
  overflow: hidden;
  
}  */

#login, #register {
  margin-top: 30px;
}

.login {
  margin-top: 10%;
}

