footer {
  text-align: center;
  height: 50px;
  background-color: #ee6e73;
  color: #fff;
}

footer p {
  line-height: 50px;
}

.error {
  color: red;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
}

#avatar {
  width: 270px;
  height: auto;
}
